<footer>
    <div class="footer_container">
        <div class="footer_margin">
            <a href="#" class="footer_name">Martijn van Ginkel</a>
            <a href="mailto:martijnvanginkel2@gmail.com" class="footer_description">martijnvanginkel2@gmail.com</a>
            <div class="footer_links">
                <div class="footer_contact">
                    <h3>Contact</h3>
                    <a href="mailto:martijnvanginkel2@gmail.com">Email</a>
                    <a href="tel:+645975380">Call me</a>
                </div>
                <div class="footer_online">
                    <h3>Online</h3>
                    <a href="https://github.com/martijnvanginkel" target="_blank">Github</a>
                    <a href="https://www.linkedin.com/in/martijn-van-ginkel-2034a3150/" target="_blank">LinkedIn</a>
                    <a href="https://www.instagram.com/martijn_vanginkel/" target="_blank">Instagram</a>
                </div>
            </div>
        </div>
    </div>
</footer>