<footer>
    <div class="footer_container">

        <a href="#" class="footer_name">Martijn van Ginkel</a>
        <p class="footer_description">Lorem Ipsum Dolor Sit Amet</p>


        <div class="footer_links">
            <div class="footer_menu">
                <h3>Menu</h3>
                <a href="">Work</a>
                <a href="">About me</a>
            </div>
            <div class="footer_contact">
                <h3>Contact</h3>
                <a href="mailto:martijnvanginkel2@gmail.com">Email</a>
                <a href="https://www.linkedin.com/in/martijn-van-ginkel-2034a3150/">LinkedIn</a>
            </div>
            <div class="footer_contact">
                <h3>Online</h3>
                <a href="https://github.com/martijnvanginkel" target="_blank">Github</a>
                <a href="https://www.linkedin.com/in/martijn-van-ginkel-2034a3150/" target="_blank">LinkedIn</a>
                <a href="https://www.instagram.com/martijn_vanginkel/" target="_blank">Instagram</a>
            </div>
        </div>

    </div>
</footer>