<header class="main_header">
    <nav class="main_nav">
        <img src="./images/yellow_square.jpg" alt="" id="head_icon">
        <div class="main_nav_name">
            <a href="https://www.linkedin.com/in/martijn-van-ginkel-2034a3150/" target="_blank">Martijn van Ginkel</a>
            <span>Developer</span>
        </div>
        <div class="main_nav_links">
            <a href="/work">Work</a>
            <span  class="about_link">About me</span>
        </div>
    </nav>
</header>