<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script defer src="node_modules/swup/dist/swup.min.js"></script> -->
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script> 
    <script defer src="JS/transitions.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    
    <main id="swup" class="transition-fade">
        <h1>This is second</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.
        </p>
        <a href="/about">Go to other page</a>
      </main>

    <div class="container">
        
        <header>
            <nav class="main_nav">
                <img src="images/yellow_square.jpg" alt="" id="head_icon">
                <div class="main_nav_name">
                    <a href="https://www.linkedin.com/in/martijn-van-ginkel-2034a3150/" target="_blank">Martijn van Ginkel</a>
                    <span>Developer</span>
                </div>
                <div class="main_nav_links">
                    <a href="#">Projecten</a>
                    <a href="about.html">Over mij</a>
                </div>
            </nav>
        </header>

        <main id="swup" class="transition-fade">
        
        <h1>hello</h1>

        </main>

        <span></span>
    </div>

    
    <footer>
        <div class="footer_container">

            <a href="#" class="footer_name">Martijn van Ginkel</a>
            <p class="footer_description">Lorem Ipsum Dolor Sit Amet</p>

            <div class="footer_links">

                <div class="footer_menu">
                    <a href="mailto:gebruikersnaam@emailadres.nl">Email</a>
                    <a href="#">LinkedIn</a>
                </div>

                <div class="footer_contact">
                    <a href="#">Github</a>
                    <a href="#">LinkedIn</a>
                    <a href="#">Instagram</a>
                </div>

            </div>


            <a href="#" class="copyright_link">Copyright</a>

        </div>
    </footer>

</body>
</html>