<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script defer src="https://unpkg.com/swup@latest/dist/swup.min.js"></script> 
    <script defer src="JS/app.js"></script>
    <title>Document</title>
</head>
<body>

    <%- include('_header') %>

    <main id="swup" class="transition-fade">
        
        <section class="project_section">    
            <article class="project_article">
                <img src="/images/cms_header.png" class="project_header">
                <h1 class="project_article_title">CMS</h1>
                <p class="project_text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente eos nisi laboriosam illum, rem temporibus, rerum magnam quam enim similique fugit. Aliquid soluta adipisci ipsum rerum, alias nisi ut facilis.</p>
                <a href="https://github.com/martijnvanginkel/CMS" class="github_link" target="_blank">View the code</a>
            </article>
        </section>
    
        <span class="column_filler"></span>
        <%- include('_footer') %>
    </main>
    
</body>
</html>