<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap" rel="stylesheet">
    <script defer src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>
    <script defer src="JS/app.js"></script>
    <title>Document</title>
</head>
<body>

    <%- include('_header') %>

    <main id="swup" class="transition-fade">      
        <!-- <div class="container"> -->
            <div class="intro_container">


                <div class="intro_content">

                    <h1 id="intro_header"></h1>
                    <p id="intro_paragraph"></p>
                    <a href="/work" id="intro_link"></a>
                    
                    
                </div>

            </div>
        <!-- </div> -->
    </main>

</body>
</html>