<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap" rel="stylesheet">
    <script defer src="https://unpkg.com/swup@latest/dist/swup.min.js"></script> 
    <script defer src="JS/transitions.js"></script>
    <title>Document</title>
</head>
<body>

    <main id="swup" class="transition-fade">
        <h1>This is homepage</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.
        </p>
        <a href="/about">Go to other page</a>
      </main>

    <div class="container">
        
        <header>
            <nav class="main_nav">
                <img src="./images/yellow_square.jpg" alt="" id="head_icon">
                <div class="main_nav_name">
                    <a href="https://www.linkedin.com/in/martijn-van-ginkel-2034a3150/" target="_blank">Martijn van Ginkel</a>
                    <span>Developer</span>
                </div>
                <div class="main_nav_links">
                    <a href="#">Projecten</a>
                    <a href="about.html">Over mij</a>
                </div>
            </nav>
        </header>

        <main id="swup" class="transition-fade">
        
        <section class="projects_section">
            <article>
                <div class="project_container">
                    <a href="#" class="project_img_box">
                        <img src="images/placeholder.png" alt="" class="project_img">
                        <div class="img_tags">
                            <span class="img_tag">tag</span>
                            <span class="img_tag">tag2</span>
                        </div>
                    </a>
                    <h1 class="project_title"><a href="#">Project 1</a></h1>
                    <p class="project_description">Lorem Ipsum Dolor Sit Amet.</p>
                </div>
            </article>

            <article>
                <div class="project_container">
                    Project 1
                </div>
            </article>
            <article>
                <div class="project_container">
                    <a href="#" class="project_img_box">
                        <img src="images/placeholder.png" alt="" class="project_img">
                        <div class="img_tags">
                            <span class="img_tag">tag</span>
                            <span class="img_tag">tag2</span>
                        </div>
                    </a>
                    <h1 class="project_title">asdf<a href="#">Project 1</a></h1>
                    <p class="project_description">Lorem Ipsum Dolor Sit Amet.</p>
                </div>
            </article>

            <article>
                <div class="project_container">
                    Project 1
                </div>
            </article>

            
        </section>

        </main>

        <span></span>
    </div>

    
    <footer>
        <div class="footer_container">

            <a href="#" class="footer_name">Martijn van Ginkel</a>
            <p class="footer_description">Lorem Ipsum Dolor Sit Amet</p>

            <div class="footer_links">

                <div class="footer_menu">
                    <a href="mailto:gebruikersnaam@emailadres.nl">Email</a>
                    <a href="#">LinkedIn</a>
                </div>

                <div class="footer_contact">
                    <a href="#">Github</a>
                    <a href="#">LinkedIn</a>
                    <a href="#">Instagram</a>
                </div>

            </div>


            <a href="#" class="copyright_link">Copyright</a>

        </div>
    </footer>

</body>
</html>