<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script defer src="https://unpkg.com/swup@latest/dist/swup.min.js"></script> 
    <script defer src="JS/app.js"></script>
    <title>Pixel Farm</title>
</head>
<body>

    <%- include('_header') %>

    <main id="swup" class="transition-fade">
        <div class="project_page">
        <section class="project_section">    
            <article class="project_article">
                <img src="/images/pixel_farm_header.png" class="project_header">
                <h1 class="project_article_title">Pixel farm</h1>
                <p class="project_text">
                    A year after building the Journey, I was motivated to build a second game, Pixel Farm. I drew inspiration from Stardew Valley and decided to build a 2D farming game.<br><br>
                    This game is built in Unity and written in C#. The game has a dynamic, built-in dialogue system that allows the dialogue of NPC’s to change based on past dialogues with other NPC’s. In addition, various quests can be added to a dialogue node.<br><br>
                    Through building this game, I have developed a thorough understanding of how to write object-oriented code. The game is still in development and I continue to work on it as a hobby.
                </p>
                <a href="https://www.youtube.com/watch?v=aQBR6bZuDwI" target="_blank">Screencast</a>
                <a href="https://github.com/martijnvanginkel/Pixel-Farm" class="github_link" target="_blank">View the code</a>
            </article>
        </section>
        </div>
    
        <span class="column_filler"></span>
        <%- include('_footer') %>
    </main>
    
</body>
</html>