<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script defer src="https://unpkg.com/swup@latest/dist/swup.min.js"></script> 
    <script defer src="JS/app.js"></script>
    <title>2D Raycasting</title>
</head>
<body>

    <%- include('_header') %>

    <main id="swup" class="transition-fade">
        
        <section class="project_section">    
            <article class="project_article">
                <img src="/images/2d_raycasting_header.png" class="project_header">
                <h1 class="project_article_title">2D Raycasting</h1>
                <p class="project_text">
                    This is a project written in plain C that uses the same techniques employed in games like Doom and Wolfenstein 3D. The game simulates a 3D effect by shooting an appropriate amount of rays for the resolution of the program on a 2D map. Each ray is shot from the position of the player and calculates the distance from where it is shot to where it hits a wall or a sprite. By calculating the distance from the player to the wall, a line can be drawn for each vertical line of pixels on the screen. This creates a 3D effect.<br><br>
                    This project was very challenging as it was written in plain C and required many mathematical calculations; It definitely pushed me out of my comfort zone.
                </p>
                <a href="https://www.youtube.com/watch?v=TGM3THmZKjs" target="_blank">Screencast</a>
                <a href="https://github.com/martijnvanginkel/wolfenstein_clone" class="github_link" target="_blank">View the code</a>
            </article>
        </section>
    
        <span class="column_filler"></span>
        <%- include('_footer') %>
    </main>
    
</body>
</html>