<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script defer src="https://unpkg.com/swup@latest/dist/swup.min.js"></script> 
    <script defer src="JS/app.js"></script>
    <title>The Journey</title>
</head>
<body>

    <%- include('_header') %>

    <main id="swup" class="transition-fade">
        
        <section class="project_section">    
            <article class="project_article">
                <img src="/images/the_journey_header.png" class="project_header">
                <h1 class="project_article_title">The Journey</h1>
                <p class="project_text">
                    The Journey is the first game I made using Unity and C# and is one of the first big projects I built independently. I love playing video games and wanted to challenge myself to build a game to completion; I built this game in its entirety including the design, concept, infrastructure, and art.<br><br>
                    The game is played from the perspective of a boy who is afraid of being in the dark. The player progresses through the game by solving a puzzle presented by each level. Over the course of the game, and through interactions with NPCs on different levels, the boy learns that he is not alone in having a fear and that the only way to overcome his fear is to face it.
                </p>
                <!-- <iframe src="https://www.youtube.com/embed/fbsrr5ej73o" class="youtube_video"></iframe> -->
                <a href="https://www.youtube.com/watch?v=fbsrr5ej73o" target="_blank">Screencast</a>
                <a href="https://github.com/martijnvanginkel/the_journey" class="github_link" target="_blank">View the code</a>
            </article>
        </section>
    
        <span class="column_filler"></span>
        <%- include('_footer') %>
    </main>
    
</body>
</html>