<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap" rel="stylesheet">
    <script defer src="https://unpkg.com/swup@latest/dist/swup.min.js"></script> 
    <script defer src="JS/app.js"></script>
    <title>My Work</title>
</head>
<body>

    <%- include('_header') %>

    <main id="swup" class="transition-fade">

        <div class="container">
                            
            <h1 class="section_title">Featured work</h1>
            
            <section class="projects_section">
                <article>
                    <div class="project_container">
                        <a href="/bugtracker" class="project_img_box">
                            <img src="images/bugtracker_thumbnail.png" alt="animated" id="bugtracker_thumbnail" class="project_img">
                            <div class="img_tags">
                                <span class="img_tag">Node.js</span>
                                <span class="img_tag">Vanilla JS</span>
                                <span class="img_tag">PostgreSQL</span>
                                <span class="img_tag">JWT</span>
                            </div>
                        </a>
                        <h2 class="project_title"><a href="/bugtracker">Bugtracker Application</a></h2>
                        <p class="project_description">A Full-Stack Javascript project.</p>
                    </div>
                </article>
                <article>
                    <div class="project_container">
                        <a href="/survey_wizard" class="project_img_box">
                            <img src="images/survey_thumbnail.png" alt="animated" id="survey_thumbnail" class="project_img">
                            <div class="img_tags">
                                <span class="img_tag">Vue.js</span>
                                <span class="img_tag">JavaScript</span>
                            </div>
                        </a>
                        <h2 class="project_title"><a href="/survey_wizard">Survey Wizard</a></h2>
                        <p class="project_description">Build clean surveys</p>
                    </div>
                </article>
                <article>
                    <div class="project_container">
                        <a href="/pixel_farm" class="project_img_box">
                            <img src="images/pixel_farm_thumbnail.png" alt="animated" id="pixel_farm_thumbnail" class="project_img">
                            <div class="img_tags">
                                <span class="img_tag">Unity</span>
                                <span class="img_tag">C#</span>
                                <span class="img_tag">OOP</span>
                            </div>
                        </a>
                        <h2 class="project_title"><a href="/pixel_farm">Pixel Farm</a></h2>
                        <p class="project_description">A 2D pixel-art farming game.</p>
                    </div>
                </article>
                <article>
                    <div class="project_container">
                        <a href="/raycasting" class="project_img_box">
                            <img src="images/2d_raycasting_thumbnail.png" alt="animated" id="raycasting_thumbnail" class="project_img">
                            <div class="img_tags">
                                <span class="img_tag">C</span>
                            </div>
                        </a>
                        <h2 class="project_title"><a href="/raycasting">2D Raycasting</a></h2>
                        <p class="project_description">A 2D raycasting environment written in C.</p>
                    </div>
                </article>
                <article>
                    <div class="project_container">
                        <a href="/get_next_line" class="project_img_box">
                            <img src="images/get_next_line_thumbnail.png" alt="animated" id="get_next_line_thumbnail" class="project_img">
                            <div class="img_tags">
                                <span class="img_tag">C</span>
                            </div>
                        </a>
                        <h2 class="project_title"><a href="/get_next_line">Get Next Line</a></h2>
                        <p class="project_description">A file-reading program written in C.</p>
                    </div>
                </article>
                <!-- <article>
                    <div class="project_container">
                        <a href="/weurd" class="project_img_box">
                            <img src="images/word_game_thumbnail.png" alt="animated" id="word_game_thumbnail" class="project_img">
                            <div class="img_tags">
                                <span class="img_tag">Vanilla JS</span>
                                <span class="img_tag">Node.JS</span>
                                <span class="img_tag">Express</span>
                                <span class="img_tag">API</span>
                                <span class="img_tag">MongoDB</span>
                            </div>
                        </a>
                        <h2 class="project_title"><a href="/weurd">Weurd</a></h2>
                        <p class="project_description">A word-learning application made in JavaScript.</p>
                    </div>
                </article> -->
                <article>
                    <div class="project_container">
                        <a href="/the_journey" class="project_img_box">
                            <img src="images/the_journey_thumbnail.png" alt="animated" id="the_journey_thumbnail" class="project_img">
                            <div class="img_tags">
                                <span class="img_tag">Unity</span>
                                <span class="img_tag">C#</span>
                                <span class="img_tag">Storytelling</span>
                            </div>
                        </a>
                        <h2 class="project_title"><a href="/the_journey">The Journey</a></h2>
                        <p class="project_description">An adventurous 2D puzzle-game about a boy facing his biggest fear.</p>
                    </div>
                </article>      
            </section>

            <section class="about_section">
                <h1 id="about_title">About me</h1>
                <div>
                    <!-- <img id="about_image" src="/images/me_pic.png"> -->
    
                    <p id="about_paragraph">Hi my name is Martijn van Ginkel and I’m currently a student at Codam Coding College located in Amsterdam, the Netherlands. I received a bachelor in Communication & Multimedia Design from the NHL Stenden in Leeuwarden, the Netherlands. My education emphasized working in teams and applying working Agile and using Design Thinking. Both in and out of my education, I have completed many different projects, mostly in web and game development. In addition to programming, I am also interested UI and UX. Please feel free to contact me.</p>
                </div>
            </section>
             
        </div>
        
        <span class="column_filler"></span>

        <%- include('_footer') %>
    </main>
    
</body>
</html>