<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@300&display=swap" rel="stylesheet">
    <script defer src="https://unpkg.com/swup@latest/dist/swup.min.js"></script> 
    <script defer src="JS/app.js"></script>
    <title>Document</title>
</head>
<body>

    <%- include('_header') %>

    <main id="swup" class="transition-fade">

        <div class="container">
                            
            <h1 class="section_title">Featured work</h1>
            
            <section class="projects_section">
                <article>
                    <div class="project_container">
                        <a href="/weurd" class="project_img_box">
                            <img src="images/word_game_thumbnail.png" alt="animated" id="word_game_thumbnail" class="project_img">
                            <div class="img_tags">
                                <span class="img_tag">Vanilla JS</span>
                                <span class="img_tag">Node.JS</span>
                                <span class="img_tag">Express</span>
                                <span class="img_tag">JSON</span>
                                <span class="img_tag">API</span>
                                <span class="img_tag">MongoDB</span>
                            </div>
                        </a>
                        <h2 class="project_title"><a href="/weurd">Weurd</a></h2>
                        <p class="project_description">A word-learning platform made in JavaScript.</p>
                    </div>
                </article>
                <article>
                    <div class="project_container">
                        <a href="/the_journey" class="project_img_box">
                            <img src="images/the_journey_thumbnail.png" alt="animated" id="the_journey_thumbnail" class="project_img">
                            <div class="img_tags">
                                <span class="img_tag">Unity</span>
                                <span class="img_tag">C#</span>
                                <span class="img_tag">Storytelling</span>
                            </div>
                        </a>
                        <h2 class="project_title"><a href="/the_journey">The Journey</a></h2>
                        <p class="project_description">An adventurous 2D puzzle-game about a boy facing his biggest fear.</p>
                    </div>
                </article>
                <article>
                    <div class="project_container">
                        <a href="/pixel_farm" class="project_img_box">
                            <img src="images/pixel_farm_thumbnail.png" alt="animated" id="pixel_farm_thumbnail" class="project_img">
                            <div class="img_tags">
                                <span class="img_tag">Unity</span>
                                <span class="img_tag">C#</span>
                                <span class="img_tag">OOP</span>
                            </div>
                        </a>
                        <h2 class="project_title"><a href="/pixel_farm">Pixel Farm</a></h2>
                        <p class="project_description">.</p>
                    </div>
                </article>
                <article>
                    <div class="project_container">
                        <a href="/raycasting" class="project_img_box">
                            <img src="images/2d_raycasting_thumbnail.png" alt="animated" id="raycasting_thumbnail" class="project_img">
                            <div class="img_tags">
                                <span class="img_tag">C</span>
                            </div>
                        </a>
                        <h2 class="project_title"><a href="/raycasting">2D Raycasting</a></h2>
                        <p class="project_description">A 2D raycasting environment written in C.</p>
                    </div>
                </article>
                <article>
                    <div class="project_container">
                        <a href="/get_next_line" class="project_img_box">
                            <img src="images/get_next_line_thumbnail.png" alt="animated" id="get_next_line_thumbnail" class="project_img">
                            <div class="img_tags">
                                <span class="img_tag">C</span>
                            </div>
                        </a>
                        <h2 class="project_title"><a href="/get_next_line">Get Next Line</a></h2>
                        <p class="project_description">A file-reading program written in C.</p>
                    </div>
                </article>
                <article>
                    <div class="project_container">
                        <a href="/cms" class="project_img_box">
                            <img src="images/cms_thumbnail.png" alt="animated" id="cms_thumbnail" class="project_img">
                            <div class="img_tags">
                                <span class="img_tag">MySQL</span>
                                <span class="img_tag">PHP</span>
                                <span class="img_tag">Laravel</span>
                            </div>
                        </a>
                        <h2 class="project_title"><a href="/cms">CMS</a></h2>
                        <p class="project_description">A CMS made in Laravel.</p>
                    </div>
                </article>       
            </section>


            <section class="about_section">
                <h1 id="about_title">About me</h1>

                <div>
                    <img id="about_image" src="/images/profile_pic.png">
    
                    <p id="about_paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quis quo doloremque ex atque. Tempora consequuntur atque at dicta earum consequatur sapiente animi saepe fuga, facere iste nobis odio iusto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, vero! Eum id consectetur nobis, recusandae necessitatibus totam natus adipisci nemo tempore nesciunt quod asperiores nulla debitis qui culpa cum accusamus?</p>
                </div>

            </section>



             
        </div>
        
        <span class="column_filler"></span>

        
        <%- include('_footer') %>
    </main>
    
</body>
</html>